# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
myenv/
env/
venv/
.venv/

# Environment variables
.env

# FAISS index or other generated indexes
faiss_index/


# OS-specific files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Logs
*.log
